<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <bean id="userService" class="com.curtis.service.UserService" />

    <dubbo:application name="PomService"></dubbo:application>
    <!--Dubbo协议端口号-->
    <dubbo:protocol name="dubbo" port="20880" />
    <!--注册中心zookeeperIP地址，端口号-->
    <dubbo:registry address="zookeeper://127.0.0.1:2181" check="false"> </dubbo:registry>
    <!--服务端暴露的服务的接口和id（接口实现类bean的名字）-->
    <dubbo:service interface="com.curtis.inter.UserServiceInterface" ref="userService"></dubbo:service>

    <context:component-scan base-package="com.curtis.service" />

    <import resource="applicationContext-dao.xml" />

</beans>